
<div class="flex-container">
    <h1>
        Buscar por Matricula
    </h1>
    <br><br>
    <img class="img"
        src="https://firebasestorage.googleapis.com/v0/b/registro-salud-web.appspot.com/o/logo-salud.png?alt=media"
        alt="" srcset="">
        <br>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Nro Matricula" #matricula >
        <button class="btn btn-outline-primary" type="submit" (click)="searching(matricula.value)">Buscar</button>
    </form>
    <br>
    <div>
        Ingrese La matricula para Buscar La Informacion y Historial.
    </div>
</div>