.marginscont{
    padding-left: 16px;
}
.img{
    height: 200px;
    width: 200px;
}
.flex-container {
    display: flex;
    width: 35%;
    flex-direction: column;
    margin: 5% 30% 2% 30%;
    align-items: center;
    justify-content: space-between;
}
.container-d{
    margin: 0% 20% 0% 20%;
}