.marginscont{
    padding-left: 16px;
}
.img{
    height: 200px;
    width: 200px;
}
.flex-container {
    display: flex;
    width: 35%;
    flex-direction: column;
    margin: 5% 30% 10% 30%;
    align-items: center;
    justify-content: space-between;
}
.NavContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-self: end;

}