<nav class="marginscont navbar navbar-expand-lg navbar-dark bg-primary">
    <a routerLink="resetPwd">
        <span class="navbar-brand">{{ name }}</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="search">Buscar</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Registrar</a>
                <div class="dropdown-menu">
                    <a *ngIf="getRolName()===1 || getRolName()===0" class="dropdown-item"
                        routerLink="registration">Registrar Paciente</a>

                    <div class="dropdown-divider"></div>
                    <a *ngIf="getRolName()===1" class="dropdown-item " routerLink="registrationAfi">Registrar
                        Afiliafo</a>

                    <div class="dropdown-divider"></div>
                    <a *ngIf="getRolName()===1" class="dropdown-item " routerLink="registrationben">Registrar
                        Beneficiario</a>

                    <div class="dropdown-divider"></div>
                    <a *ngIf="getRolName()===1" class="dropdown-item " routerLink="registroUser">Registrar
                        Usuario</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="true" aria-expanded="false">Lista</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item " routerLink="lisUser">Lista Usuario</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item " routerLink="listpatient">Lista Pacientes</a>
                </div>
            </li>
            <li class="NavContainer">
                <span class="nav-item nav-link active " (click)="salir()">Salir de La cuenta</span>
            </li>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>