<div class="flex-container">
    <h1>
        Restablecer Contraseña
    </h1>
    <br><br>
    <img *ngIf="this.dataUser.photoUrl" class="img"
    [src]="this.dataUser.photoUrl"
    alt="" srcset="">
    <img *ngIf="!this.dataUser.photoUrl" class="img"
        src="https://firebasestorage.googleapis.com/v0/b/registro-salud-web.appspot.com/o/logo-salud.png?alt=media"
        alt="" srcset="">
    <br>
    <span>Email: {{ this.dataUser.email }}</span>
    <span>Nombres: {{ this.dataUser.firstName }} {{ this.dataUser.lastName }}</span>
    <span>Rol: {{ this.dataUser.username }}</span>
    <br>
    <form>
        <input class="form-control me-2" type="password" placeholder="Contraseña actual" #pass required>
        <br>
        <input class="form-control me-2" type="text" placeholder="Contraseña Nueva" #pwd required>
        <br>
        <input class="form-control me-2" type="text" placeholder="Repita su Contraseña" #pwd2 required>
        <br>
        <button class="btn btn-outline-primary" type="submit"
            (click)="resetPwd(pwd.value, pwd2.value,pass.value)">Restablecer</button>
    </form>
    <br>
    <div>
        <div class="alert alert-danger" role="alert" *ngIf="suceessw">
            Las Contraseña no coinciden, Vuelva a intentarlo
        </div>
    </div>
</div>