
<form class="flex-container" [formGroup]="loginForm" (ngSubmit)="registerUser(loginForm.value)">
    <h1>Registro Paciente</h1>
    <br>
    
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit">Upload</button>
      </div>
    
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Ap. Paterno</span>
        <input type="text" class="form-control" placeholder="Ap. Paterno" formControlName="LastName">
    </div>
    <br>
    <!--
        <div class="input-group">
            <span class="input-group-text btn btn-secondary" id="basic-addon1">Ap. Materno</span>
            <input type="text" class="form-control" placeholder="Ap. Matern" formControlName="Name">
        </div>

    -->
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="Name">
    </div>
    <br>
    <div class="container">


        <!-- ! radioButton -->
        <div class="form-check">
            <input class="form-check-input" formControlName="Gender" type="radio" value="Femenino" checked>
            <label class="form-check-label" for="exampleRadios1">
                Femenino
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" formControlName="Gender" type="radio" value="Masculino">
            <label class="form-check-label" for="exampleRadios2">
                Masculino
            </label>
        </div>
        <!-- ! radioButton -->
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Cedula Identidad</span>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="Ci">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Estado Civil</span>
        <input type="text" class="form-control" placeholder="Estado Civil" formControlName="CivilStatus">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Ocupacion</span>
        <input type="text" class="form-control" placeholder="Ocupacion" formControlName="Ocupation">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Regional</span>
        <input type="text" class="form-control" placeholder="Regional" formControlName="Regional">
    </div>
    <br>

    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Fecha Nacimiento</span>
        <input type="date" class="form-control" placeholder="Fecha Nacimiento" formControlName="BirthDate">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Departamento De Nac.</span>
        <input type="text" class="form-control" placeholder="Departamento De Nac." formControlName="BirthState">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Lugar de Nacimiento</span>
        <input type="text" class="form-control" placeholder="Lugar de Nacimiento" formControlName="BirthCity">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Direccion</span>
        <input type="text" class="form-control" placeholder="Direccion" formControlName="Address">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Nro Telefono Fijo</span>
        <input type="text" class="form-control" placeholder="Nro Telefono Fijo" formControlName="Telephone">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-text btn btn-secondary" id="basic-addon1">Nro de Telefono Movil</span>
        <input type="text" class="form-control" placeholder="Nro de Telefono Movil" formControlName="CellPhone">
    </div>
    <br>

    <!-- ! radioButton -->
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Tipos De Sangre</label>
        <select formControlName="BloodType" class="form-select" id="inputGroupSelect01">
            <option value="ORH">ORH</option>
            <option value="O +">O +</option>
            <option value="ORH +">ORH +</option>
        </select>
    </div>
    <br>

    <div class="container">
        <!-- ! radioButton -->
        <h2>Antecedentes Patologicos</h2>
        <div class="form-check">
            <input formControlName="patologias1" class="form-check-input" type="checkbox" value="1" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[0]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias2" class="form-check-input" type="checkbox" value="2" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[1]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias3" class="form-check-input" type="checkbox" value="3" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[2]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias4" class="form-check-input" type="checkbox" value="4" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[3]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias5" class="form-check-input" type="checkbox" value="5" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[4]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias6" class="form-check-input" type="checkbox" value="6" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[5]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias7" class="form-check-input" type="checkbox" value="7" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[6]}}
            </label>
        </div>
        <div class="form-check">
            <input formControlName="patologias8" class="form-check-input" type="checkbox" value="8" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
                {{patologias[7]}}
            </label>
        </div>
    </div>
    <br>
    <br>
    <input type="submit" class="btn btn-primary btn-lg" value="Iniciar Sesion">
    <br>
</form>